<div>
  <div>Registro de Usuarios nuevos en Llamapay</div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="name">

        <mat-error *ngIf="form.get('name')?.hasError('required')">
          El nombre del Usuario es obligatorio!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Tipo de pago</mat-label>
        <input matInput formControlName="lastname">

        <mat-error *ngIf="form.get('lastname')?.hasError('required')">
          El apellido es obligatorio!!
        </mat-error>
      </mat-form-field>
       <br />
      <mat-form-field>
        <mat-label>Correo Electronico</mat-label>
        <input matInput formControlName="email">

        <mat-error *ngIf="form.get('email')?.hasError('required')">
          El email es obligatorio!!
        </mat-error>
      </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Dia de Nacimiento</mat-label>
        <input matInput formControlName="birthday">

        <mat-error *ngIf="form.get('birthday')?.hasError('required')">
          El dia de nacimiento es obligatorio!!
        </mat-error>
      </mat-form-field>
    <br />

    <br>
    <mat-form-field>
        <mat-label>Registro del usuario</mat-label>
        <input matInput formControlName="registrationDate">

        <mat-error *ngIf="form.get('registrationDate')?.hasError('required')">
          El Registro del usuario es obligatorio!!
        </mat-error>
      </mat-form-field>
    <br />

    <br>
    <mat-form-field>
        <mat-label>USERNAME</mat-label>
        <input matInput formControlName="username">

        <mat-error *ngIf="form.get('username')?.hasError('required')">
          El username es obligatorio!!
        </mat-error>
      </mat-form-field>
    <br />

    <br>
    <mat-form-field>
        <mat-label>PASSWORD</mat-label>
        <input matInput formControlName="password">

        <mat-error *ngIf="form.get('password')?.hasError('required')">
          La contraseña es obligatoria!!
        </mat-error>
      </mat-form-field>
    <br />

    <br>
    <mat-form-field>
        <mat-label>Estado</mat-label>
        <input matInput formControlName="enabled">

        <mat-error *ngIf="form.get('enabled')?.hasError('required')">
          El estado es obligatorio!!
        </mat-error>
      </mat-form-field>
    <br />


  <button mat-raised-button color="primary">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/users">
   Cancelar
  </button>

    </form>
  </div>
</div>