<div class="container-transaccion">
  <h1>{{ edicion ? (modoPerfil ? 'Editar Perfil' : 'Editar Usuario') : 'Registrar Usuario' }}</h1>

  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre*</mat-label>
      <input matInput formControlName="nameUser" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellidos*</mat-label>
      <input matInput formControlName="lastnameUser" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico*</mat-label>
      <input matInput formControlName="emailUser" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Nacimiento*</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="birthdayUser" required />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username*</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <ng-container *ngIf="!edicion">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña*</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="fill">
      <mat-label>Estado de Cuenta*</mat-label>
      <mat-select formControlName="enabled" required>
        <mat-option [value]="true">Activo</mat-option>
        <mat-option [value]="false">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="botones">
      <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
      <button mat-raised-button color="warn" [routerLink]="['/users/listar']">Volver a la lista</button>
    </div>
  </form>
</div>
