.custom-toolbar {
 background-color: #98BE93;
}


.btn-rojo {
 background-color: #506C4D;
 border-radius: 4px;
 margin: 4px;
 border: none;
}

.btn-rojo mat-icon {
 color: white;
}





.custom-toolbar button,
.custom-toolbar mat-icon {
 color: white;
}
