<div>
  <div>Registro de categorias</div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="name">

        <mat-error *ngIf="form.get('name')?.hasError('required')">
          El nombre de la categoria es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <input matInput formControlName="type">

        <mat-error *ngIf="form.get('type')?.hasError('required')">
          El tipo de categoria es obligatoria!!
        </mat-error>
      </mat-form-field>
        <br />

  <button mat-raised-button color="primary">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/categorias">
    Cancelar
  </button>

    </form>
  </div>
</div>