<div>
  <h1>Lista de Transacciones</h1>

  <!-- Contenedor de botones alineados -->
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;">
    <button mat-raised-button color="primary" routerLink="/transaccion/insertar">
      Registrar nueva transacción
    </button>

    <!-- Botón extra para ir a Tipos de Transacción (removible) -->
    <button mat-raised-button color="accent" routerLink="/tipotransaccion/listar">
      → Ver Tipos de Transacción
  </button>

</div>

<br />

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{ element.idTransaccion }} </td>
  </ng-container>

  <!-- Fecha -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let element"> {{ element.fechaTransaccion | date:'dd/MM/yyyy' }} </td>
  </ng-container>

  <!-- Monto -->
  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef>Monto</th>
    <td mat-cell *matCellDef="let element"> S/. {{ element.montoTransaccion }} </td>
  </ng-container>

  <!-- Ver detalle con ícono -->
  <ng-container matColumnDef="detalle">
    <th mat-header-cell *matHeaderCellDef>Detalle</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="verDetalle(element)">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>


  <!-- Editar -->
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" [routerLink]="['/transaccion/editar', element.idTransaccion]">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>


  <!-- Columna: Eliminar -->
  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="eliminar(element.idTransaccion)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <!-- Renderizado de la tabla -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
