.container-form {
  max-width: 500px;
  margin: 40px auto;
  background-color: #f9f9f9;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
