<div>
  <h2>{{ edicion ? 'Editar Tipo de Transacción' : 'Registrar Tipo de Transacción' }}</h2>

  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" />
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
        La descripción es obligatoria
      </mat-error>
    </mat-form-field>

    <div class="botones-container">
      <button mat-raised-button color="primary" type="submit">
        {{ edicion ? 'Guardar Cambios' : 'Registrar' }}
      </button>
      <button mat-raised-button color="warn" type="button" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </form>
</div>
