<div class="container">
  <div style="text-align: center;margin: 5%;">
    <h1>Registro de Tiendas</h1>
  </div>
  <div style="text-align: center;margin: 5%;">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo">

        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El codigo de la tienda es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Mayoristas</mat-label>
        <mat-select formControlName="mayorista">

          <mat-option *ngFor="let p of mayoristas" [value]="p.value">
            {{p.viewValue}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="form.get('mayorista')?.hasError('required')">
          El mayorista es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
        <mat-label>Ubicacion</mat-label>
        <input matInput formControlName="address">

        <mat-error *ngIf="form.get('address')?.hasError('required')">
          La direccion de la tienda es obligatorio!!
        </mat-error>

      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/servidores">
        Cancelar
      </button>

    </form>
  </div>
</div>
