<div class="container">
  <div style="text-align: center;margin: 5%;">
    <h1>REGISTRO DE ROLES A LOS USUARIOS</h1>
  </div>
  <div style="text-align: center;margin: 5%;">

    <form [formGroup]="form" (submit)=" aceptar()">
      <mat-form-field>
        <mat-label>Roles</mat-label>
        <mat-select formControlName="roles">
          @for (food of TipoRol; track food) {
          <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>


      <br>
      <mat-form-field>
        <mat-label>Nombre del usuario</mat-label>
        <mat-select formControlName="user">
          @for (food of listaUsuarios; track food) {
          <mat-option [value]="food.userId">{{food.nameUser}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary">Registrar rol al usuario</button>

    </form>
  </div>
</div>
